<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Task</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-screen h-screen bg-zinc-900 text-white p-4 sm:flex sm:justify-center">

    <div class="sm:w-4/5 xl:w-3/5 pt-12">
    <a class="flex gap-1 mb-5" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
            <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"></path>
        </svg>
        <span>Voltar para home</span>
    </a>
    <h1 class="text-4xl font-bold mb-8">Editar tarefa</h1>
    <form class="border-2 border-zinc-600 rounded-xl p-4 flex flex-col" method="post">
        {% csrf_token %}

        {% if error_message %}
            <p><strong class="text-red-500">{{ error_message }}</strong></p>
        {% endif %}

        <label class="flex flex-col text-zinc-400 mb-4">
            Título da tarefa
            <input autocomplete="false" class="bg-zinc-800 px-4 py-2 rounded-lg" type="text" name="title" value="{{ title }}">
        </label>

        <label class="flex flex-col text-zinc-400 mb-4">
            Descrição da tarefa
            <input autocomplete="false" class="bg-zinc-800 px-4 py-2 rounded-lg" type="text" name="description" value="{{ description }}">
        </label>

        <div class="mb-4 flex flex-col">
            <label class="text-zinc-400" for="status">Status da Tarefa:</label>
            <select class="bg-zinc-800 px-4 py-2 rounded-lg" name="status" id="status">
                <option value="pending" {% if status == 'pending' %}selected{% endif %}>Pendente</option>
                <option value="doing" {% if status == 'doing' %}selected{% endif %}>Em Andamento</option>
                <option value="done" {% if status == 'done' %}selected{% endif %}>Finalizado</option>
            </select>
        </div>

        <div class="flex flex-col">
            <label for="shared_with">Compartilhar com:</label>
            <div class="relative">
                <select class=" px-4 py-2 text-white bg-zinc-800 w-full overflow-y-auto overflow-x-hidden rounded-lg" id="shared_with" name="shared_with" style="max-width: 100%; display: block; ">
                    {% for user in users %}
                        <option class="px-2 py-2" value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="w-full text-end mt-4">
            <button class="bg-cyan-300 text-black py-2 px-4 rounded-lg font-semibold mt-4 w-full md:w-56" type="submit">
                Salvar alterações
            </button>
        </div>
    </form>
</div>
</body>
</html>
