<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trelle</title>
</head>
<body>
{% csrf_token %}
<h4>Olá {{ user.username }}</h4>
    <div>
        <a href="/createtask">Criar Tarefa</a>
    <div style="display: flex; gap: 10px">
        <div>
            <h3>Pendentes</h3>
            {% if pending %}
                <ul>
                    {% for task in pending %}
                        <li style="padding-top: 10px">
                            <a href="/tasks/{{ task.id }}">
                                <strong>{{ task.title }}</strong>
                            </a>
                        </li>
                        <a href="/edittask/{{ task.id }}">Editar Tarefa</a>
                        <!-- Botão de deletar -->
                        <form method="post" action="{% url 'delete_task' task.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" onclick="return confirm('Tem certeza que deseja deletar esta tarefa?');">Deletar</button>
                        </form>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>Nenhuma task pendente!</h3>
            {% endif %}
        </div>
    
        <div>
            <h3>Em andamento</h3>
            {% if doing %}
                <ul>
                    {% for task in doing %}
                        <li style="padding-top: 10px">
                            <a href="/tasks/{{ task.id }}">
                                <strong>{{ task.title }}</strong>
                            </a>
                        </li>
                        <a href="/edittask/{{ task.id }}">Editar Tarefa</a>
                        <!-- Botão de deletar -->
                        <form method="post" action="{% url 'delete_task' task.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" onclick="return confirm('Tem certeza que deseja deletar esta tarefa?');">Deletar</button>
                        </form>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>Nenhuma task em andamento!</h3>
            {% endif %}
        </div>
    
    <div>
            <h3>Finalizadas</h3>
            {% if done %}
                <ul>
                    {% for task in done %}
                        <li style="padding-top: 10px">
                            <a href="/tasks/{{ task.id }}">
                                <strong>{{ task.title }}</strong>
                            </a>
                        </li>
                        <a href="/edittask/{{ task.id }}">Editar Tarefa</a>
                        <!-- Botão de deletar -->
                        <form method="post" action="{% url 'delete_task' task.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" onclick="return confirm('Tem certeza que deseja deletar esta tarefa?');">Deletar</button>
                        </form>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>Nenhuma task finalizada!</h3>
            {% endif %}
        </div>
    </div>
    </div>
</body>
</html>