<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trelle</title>
</head>
<body>
<h4>Olá {{ user.username }}</h4>
    <div>
    <div style="display: flex; gap: 10px">
        <div>
            <h3>Pendentes</h3>
            {% if pending %}
                <ul>
                    {% for task in pending %}
                        <li>
                            <a href="/tasks/{{ task.id }}">
                                <strong>{{ task.title }}</strong>
                                {{ task.user.username }}
                            </a>
                        </li>
    
                    {% endfor %}
                </ul>
            {% else %}
                <h3>Nenhuma task pendente!</h3>
            {% endif %}
        </div>
    
        <div>
            <h3>Em andamento</h3>
            {% if doing %}
                <ul>
                    {% for task in doing %}
                        <li>
                            <a href="/tasks/{{ task.id }}">
                                <strong>{{ task.title }}</strong>
                                {{ task.user.username }}
                            </a>
                        </li>
    
                    {% endfor %}
                </ul>
            {% else %}
                <h3>Nenhuma task em andamento!</h3>
            {% endif %}
        </div>
    
    <div>
            <h3>Finalizadas</h3>
            {% if done %}
                <ul>
                    {% for task in done %}
                        <li>
                            <a href="/tasks/{{ task.id }}">
                                <strong>{{ task.title }}</strong>
                                {{ task.user.username }}
                            </a>
                        </li>
    
                    {% endfor %}
                </ul>
            {% else %}
                <h3>Nenhuma task finalizada!</h3>
            {% endif %}
        </div>
    </div>
    </div>
</body>
</html>