<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form method="post">
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    {% csrf_token %}

    <label>
        Usuário
        <input type="text" name="username">
    </label>
    <label>
        Nome
        <input type="text" name="display_name">
    </label>
    <label>
        Senha
        <input type="password" name="password">
    </label>

    <button type="submit">
        Registrar
    </button>
</form>

</body>
</html>